.main-navigation {
    .menu {
        @include tablet-phone-break {
            display: none;
        }
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-end;
        .menu-item {
            font-size: 2vw;
            @include desktop-larger {
                font-size: 2rem;
            }
            a {
                display: block;
                padding: 2rem;
                color: $color-dark-grey;
            }
        }
    }
    &.toggled {
        .menu-toggle {
            transform: translateX(-50%);
            left: 50%;
            &:before {
                content: 'close ';
            }
            position: fixed;
        }
        .menu {
            position: fixed;
            background-color: $color-blue-ocean;
            width: 100%;
            z-index: 1;
            top: 0;
            left: 0;
            text-align: center;
            padding-top: 2rem;
            a {
                color: $white;
                font-size: 1.5rem;
                padding: .25rem 1rem;
            }
        }
    }
}

.top-navigation {
    display: none;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            line-height: 40px;
            padding-left: 1em;
            &.current-menu-item {
                a {
                    font-weight: bold;
                }
            }
            a {
                text-decoration: none;
                color: $white;
                text-transform: uppercase;
            }
        }
    }
    @media (min-width: $tablet-large) {
        display: block;
        text-align: right;
        flex: 1;
        ul {
            li {
                display: inline-block;
            }
        }
    }
}

.site-navigation {
    position: relative;
    .menu-toggle {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 10;
        border: 0;
        background-color: $color-blue-ocean;
        color: $white;
        text-transform: uppercase;
    }
    @include tablet-phone-break {
        padding-top: 1rem;
        background-image: url(images/mobile-bkg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right bottom;
    }
}

.site-branding {
    position: relative;
    @include tablet-larger {
        background-color: $color-blue-ocean;
        display: flex;
        justify-content: flex-end;
    }
}

.site-logo {
    @include tablet-phone-break {
        max-width: 50%;
        margin: 0 auto;
    }
    @include tablet-larger {
        position: absolute;
        left: 0;
        transform: translateY(-40%);
        max-width: 250px;
    }
}

.book-now-stripe {
    padding-right: 1rem;
    font-size: 1rem;
    font-weight: 400;
    background-color: $color-blue-ocean;
    @include tablet-phone-break {
        text-align: center;
    }
    a {
        display: block;
        padding: .25rem 0;
        color: $white;
        font-style: italic;
    }
}
