.fifteen-year-row {
    padding: 1.5em;
    img {
        margin: 0 auto;
        display: block;
        @media (min-width: $tablet-small) {
            max-width: 30vw;
        }
    }
}

.video-row {
    text-align: center;
    .video-header {
        background-color: $grey;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: $font-grey;
        font-weight: 300;
        font-size: 1.75em;
        padding: .5em 1em;
    }
    .video {
        video {
            cursor: pointer;
            display: block;
            width: 100%;
        }
    }
    .video-footer {
        background-color: $brand-primary;
        color: $white;
        font-weight: 600;
        padding: 1em;
    }
}

.slider-row {
    position: relative;
    @media (min-width: 1920px) {
        padding-bottom: 3vw;
    }
    .swiper-pagination {
        width: 100%;
        bottom: 5px;
        &-bullet {
            margin-right: 8px;
        }
        @media (min-width: $tablet-small) {
            bottom: 50px;
            &-bullet {
                height: 15px;
                width: 15px;
                margin-right: 15px;
            }
        }
    }
}

.bottom-frame--grey {
    position: absolute;
    bottom: 0;
    z-index: 1;
    @media (min-width: 1920px) {
        width: 100%;
    }
    img {
        display: block;
        @media (min-width: 1920px) {
            width: 100%;
        }
    }
}

.swiper-container {
    max-width: $container-width;
    margin: 0 auto;
}

.button-row {
    a {
        display: block;
        width: 100%;
        text-align: center;
        padding: .5em;
        text-transform: uppercase;
        font-weight: 700;
        color: $white;
        background-color: $brand-accent;
        text-decoration: none;
        font-size: 1.5em;
    }
}

.bottom-image {
    position: relative;
    @media(min-width: 1920px) {
        img {
            display: block;
            margin: 0 auto;
        }
    }
    .wave-frame {
        display: block;
        position: absolute;
        bottom: 0;
        @media(min-width: 1920px) {
            width: 100%;
        }
    }
}

.the-lineup-row {
    .the-lineup-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .artist {
            width: 50%;
            padding: 1em .5em;
            img {
                display: block;
            }
            @media (min-width: $tablet-small) {
                width: 33.3333%;
            }
            &__text {
                a {
                    background-color: $brand-primary;
                    display: block;
                    font-weight: 600;
                    text-align: center;
                    text-decoration: none;
                    padding: .5em;
                    color: white;
                    text-transform: uppercase;
                }
            }
        }
    }
}
